mat-card {
    width: 30%;
    border: orange 1px solid;
    min-width: 400px;
}

mat-form-field {
    width: 100%;
    margin: 1em 0;
}

mat-form-field {
    border: darkgreen 1px solid;
}

h2 {
    margin: 1em 0;
}

mat-card .button {
    display: block;
    margin: 1em auto;
}